body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f7eac8;
  }
  
  h1 {
    margin-top: 20px;
    color: #ffcb05;
  }
  
  .search {
    margin-top: 20px;
  }
  
  .search input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
  }
  
  .search button {
    padding: 10px 20px;
    background-color: #ffcb05;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Press Start 2P', cursive;
  }
  
  .search button:hover {
    background-color: #e0a800;
  }
  
  .pokemon {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-info {
    text-align: center;
  }
  
  #pokemonImage {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  #prevButton,
  #nextButton {
    padding: 10px 20px;
    background-color: #ffcb05;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Press Start 2P', cursive;
  }
  
  #prevButton:hover,
  #nextButton:hover {
    background-color: #e0a800;
  }
  